<h1>Edit User</h1>

<%= render "errors" %>

<%= form_with model: @user do |form| %>
  <%= form.label "Username:" %>
  <%= form.text_field :username %><br><br>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "email@example.com" %><br><br>
  <%= form.label :password %>
  <%= form.password_field :password %><br><br>
  <%= form.submit "Update" %>
<% end %>